/* Importación de fuente */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Definiendo colores del borde*/
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #383838;

}

/* Estilos globales */

* {
    box-sizing: border-box;
}

/* Cuerpo */
body {
    background-color: #f1f1f1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* Container */
.container {
    text-align: center;
}

/* Barra de progreso */
.progress__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2em;
    max-width: 100%;
    width: 22em;
}

.progress__container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

/* Circle */
.circle {
    background-color: #f1f1f1;
    color: #e2e2e2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle--active {
    border-color: var(--line-border-fill);
}

/* Buttons */
.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 1em;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}
.button--cancel {
    background-color: #E0E0E0;
}

.button--cancel:hover {
    background-color: #afa7a7;
}

.button--next {
    background-color: #3498DB;
}

.button--next:hover {
    background-color: #1f91dd;

}